.ok{
&:hover{

}    
}

.container{
    display: flex;
justify-content: space-between;
padding: 0.3rem 1rem 0.3rem 0;
height: 8rem;
position: relative;
&__button{
    flex-direction: column;
    position: absolute;
    display: flex;
    top: -15%;
    left: -2rem;
    opacity: 0;
    &.toggled{
        opacity: 1;
        transition: all ease-in-out 0.5s;
    }
 &__delete{
     position: relative;
 &:hover{
     color: red;
 }
&__display{
    margin-top: 0.25rem;
    display: flex;
}
}   
    &__alternative{
        left: -2rem;
        top: -15%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        &__display{
            margin-top: 0.25rem;
            display: flex;
        }
    &.toggled{
        opacity: 1;
        transition: all ease-in-out 0.5s;

    }
}
}
&__username{
    width: 30%;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
&__icon{
    align-items: center;
    width: 55%;
    justify-content: space-between;
    color:white;
    font-size: 1.75rem;
    display: flex;

&.toggled{
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
}
&__alternative{
    position: relative;
&:hover{
    color: red;
}}
&__istoggled{
    opacity: 1;
    height: 100%;
    width: 100%;

&.toggled{
    transition: all ease-in-out 0.25s;
opacity: 0;
}
}

}

}
.icon{
    &__delete{
        opacity: 1;
        position: relative;
        &:hover{
            color: red;
        }
    
    &.toggled{
        opacity: 0;
    }
    }
    &:hover{
        cursor: pointer;
        color: red;
    
    }
&.toggled{
    color: red;
}
    &__alternative{
        position: relative;
        opacity: 1;

    &.toggled{
        opacity: 0;
        transition: all ease-in-out 0.25s;
    }

}
}
.button{
    margin-right: 0.5rem;
    &__alternative{
        margin-right: 0.5rem;
    
    &:hover{
        background-color: red;
        color: white;
        outline: white;
        border: none;
    }
}
&:hover{
    color: white;
    border: white;
    background-color: red;
}
}

.confirm{
    font-size: 1rem;
}