@mixin toggleditems {
    align-items: flex-start;
        flex-direction: column;
        display: flex;
}

.input__password{
    border: none;
    outline: none;
    color: black;
    margin-bottom: 0.5rem;
    display: flex;
}

.container{
    box-shadow: 0 0 3px 0 white;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 0.75rem 0.5rem 0.5rem 0.5rem;
&:hover{
    background-color:#3ba0ff;
}
&__username{
    font-weight: 600;
    flex-direction: column;
    display: flex;
    font-size: 1rem;
    color: #052d52;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 0.35rem;
    }

&__icon{
    
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    display: flex;
&.toggled{
    display: none;
    }

    &__favourite{
    display: flex;
    }
    &__trash{
    display: flex;
}
    &__lock{
    display: flex;
    flex-direction: column;
    &.toggled{
        color: red;
        transition: all ease-in-out 0.2s;
        justify-content: space-around;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }    
}
    
}
}

.myicon{
    color: #052d52;
    font-size: 1.75rem;
&.toggled{
    display: none;
}
    &:hover{
    color: red;
}}
.container__button{
    display: flex;
    &__favourite{
        display: none;
    &.toggled{
        @include toggleditems;

    }}
    &__trash{
        display: none;
    &.toggled{
        @include toggleditems;
    }}
    &__lock{
        display: none;
    &.toggled{
        @include toggleditems;

    }}
}

.chaticon{
    color: #052d52;
    font-size: 1.75rem;
&__container{
&.toggled{
    color: red;
    transition: all ease-in-out 0.2s;
    justify-content: space-around;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}}
    &:hover{
    transition: all ease-in 0.1s;
    font-size: 2rem;
    color: red;
}
&.toggled{
    color: red;
}
}

.button{
margin: 0 0.5rem 0 0;
&:hover{
    border: solid white 0.5px;
    background-color: red;
    color: white;
}}

.confirm{
    font-size: 1rem;
    color: #052d52;
    text-align: center;
    margin: 0 0 0.5rem 0;
&.isset{
    display: none;
}

}
.isset{
    display: none;
}

.highlighted{
    color: red;
}
.toggled__off{
    display: none;
}