@mixin toggleditems {
    align-items: flex-start;
        flex-direction: column;
        display: flex;
}

.input__password{
    border: none;
    outline: none;
    color: black;
    margin-bottom: 0.5rem;
    display: flex;
}

.container{
    display: flex;
    justify-content: space-between;
    border: solid red 0.5px;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
&:hover{
    background-color:rgb(0, 132, 255);
}
&__username{
    flex-direction: column;
    display: flex;
    font-size: 1rem;
    color: white;
    width: 25%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    }

&__icon{
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    display: flex;
&.toggled{
    display: none;
    }

    &__favourite{
    display: flex;
    }
    &__trash{
    display: flex;

}
    &__lock{
    display: flex;
    flex-direction: column;
    }
}
}

.myicon{
    color: white;
    font-size: 1.75rem;
&.toggled{
    display: none;
}
    &:hover{
    color: red;
}}
.container__button{
    display: flex;
    &__favourite{
        display: none;
    &.toggled{
        @include toggleditems;

    }}
    &__trash{
        display: none;
    &.toggled{
        @include toggleditems;
    }}
    &__lock{
        display: none;
    &.toggled{
        @include toggleditems;

    }}
}

.mychaticon{
    padding: 0.5rem;
    color: white;
    font-size: 1.75rem;
&:hover{
    color: red;
}
&.istoggled{
    color: red;
}
&.toggled{

}
}
.button{
margin: 0 0.5rem 0 0;
&:hover{
    border: solid white 0.5px;
    background-color: red;
    color: white;
}}

.confirm{
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0 0 0.5rem 0;
&.isset{
    display: none;
}

}
.isset{
    display: none;
}

.highlighted{
    color: red;
}
.toggled__off{
    display: none;
    border: solid green;
}