
.container{
    
    @media(min-width:320px){
        padding: 0.5rem;
    box-shadow: 0 0 3px 0 grey;
    margin: 1.5rem 1rem 0 0;
    //box-shadow: grey 0 0 3px 1px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
        }
        @media(min-width:768px){
            height: 100%;
            box-shadow: none;
            width: 30%;
        }
        @media(min-width:1024px){
            box-shadow: 0 0 3px 0 grey;
            border-top: solid #1890ff 3px;

            border-bottom: solid #1890ff 3px;
            border-radius: 0;
            width: 30%;
            height: 95%;

        }
    &__icon{
        @media(min-width:320px){
            font-size: 4rem;
        }
        //font-size: 7rem;
        //background-color: #001529;

        color: #001529;    }
    &__text{
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;

    }
}
.heading{
    @media(min-width: 320px){
        font-family: montserrat, sans-serif;
        color: #1890ff;   
        font-size: 1.25rem;
    
    }
    @media(min-width:768px){
        font-size: 1.55rem;
    }
    @media(min-width:1024px){
        font-size: 1.75rem;
    }
}
.paragraph{
    @media(min-width:320px){
        color:#001529 ;   
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
    }
        @media(min-width:768px){
        font-size: 1.25rem;
        }
}