

.container{
        &__header{
            @media(min-width: 320px){
        display: flex;
        text-align: left;
        padding: 4rem 0 0 5rem;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: capitalize;
        font-size: 1.5rem;
        color:#bd0000;
        width: 100%;
        flex-direction: column;
        font-family: montserrat, sans-serif;
    }
            @media(min-width:768px){
                font-size: 3rem;
            }
            @media(min-width:1024px){
                width: 40%;
            }
    & p{
        @media(min-width: 320px){
        color: white;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1rem;
        }
        @media(min-width: 768px){
    
            font-size: 1rem;
            }
            @media(min-width: 1024px){
                font-size: 1.5rem;
                }
    }}



@keyframes popout {
    0%{
        transform: scale(0.5)
    }
    50%{
        transform: scale(0.75)
    }
    100%{
        transform: scale(1)
    }
}

    &__form{
    
        @media(min-width: 320px){
        display: flex;
        width: 100%;
        padding: 2rem 2rem 2rem 2rem;
        flex-direction: column;
        align-items: center;    
        height: auto;

        }
        @media(min-width: 768px){
            flex-direction: row;
            display: flex;
            width: 100%;
            justify-content: center;
            height: 60%;
            }
            @media(min-width: 1024px){
                width: 60%;
                height: 70%;
            }
    }
    &__row{
        @media(min-width:320px){
        background-color: #001529;
            display: flex;
        background-image: url('../../images/mybackground.svg');
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        justify-content: center;
        }
        @media (min-width: 768px){
        }
        @media (min-width: 1024px){
            background-attachment: fixed;
            background-position: bottom 0% right 62%;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
            height: 90vh;
        }
    &__two{
        height: 55vh;
    }}
    &__column{

        @media(min-width:320px){
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
        @media(min-width:768px){
            display: flex;
            justify-content: center;
            }
    &__two{
        height: 85%;
        display: flex;
        padding: 1rem;
        justify-content: space-evenly;
    }
    }
}
.footer__container{
    &__technologies{
        display: flex;
        justify-content: space-around;
    & > div {
        margin: 0 1rem 0 1rem;
    } }
    &__about{
        color: white;
        font-size: 0.85rem;
        line-height: 2rem;
    }
    &__contact{
    }
}

.footer__column{
    &__two{
        flex-direction: column;
        align-items: center;
        display: flex;
    &.information{
        padding: 0 0.75rem 0.75rem 0.65rem;
        font-size: 0.75rem;
    & div + div {
        font-size: 0.75rem;
    }}}
}
.footer__row{

    justify-content: space-evenly;
    display: flex;
    margin-top: 3rem;
    padding: 2rem;
background-color: #001529;
}
.footer{
    &__header{
        line-height: 2rem;
        border-bottom: solid white 0.5px;
        font-size: 1rem;
        color: whitesmoke;
        text-align: center;
    & ~ p {
            font-style: italic;
        padding: 0.1rem;
        color: white;
    }
&__main{
    padding: 1rem;
    color: white;
    font-size: 1.25rem;
}}
}
.icon{
    &__contact{
        margin-right: 1rem;
        color: white;
        font-size: 1.75rem;
    }
}
.footer{
    &__icon__container{
        padding: 0.5rem;
        justify-content: flex-start;
        color: #1890ff;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
     }
}