.container{
    @media(min-width:320px){
    display: flex;
    flex-direction: column;   
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: #0061bd;
    align-items: center;
    height:auto;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 0 4px 0 whitesmoke;
    }
    @media(min-width:500px){
        width: 60%;
        }
    @media(min-width:768px){
        height: 100%;
        display: flex;
        flex-direction: column;   
        width: 40%;
        background-color: #0061bd;
        align-items: center;
        border-radius: 1rem;
        }
        @media(min-width:1024px){
            padding: 3rem 0 3rem 0;

        }
&__username{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 2rem;
    margin: 0.5rem 0 0 0;
    outline: none;
    border: none;

}
&__password{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 2rem;
    margin: 0.5rem 0 0 0;
    outline: none;
    border: none;

& > p {
    font-size: 0.75rem;
    color: white;
    text-transform: capitalize;
    flex-shrink: 0.5;
    display: flex;
    padding:0.5rem;
}
}
&__button{
    padding: 0.5rem 0 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
  
}
&__header{
    color: white;
    justify-content: center;
    display: flex;
    font-weight: 700;
    letter-spacing: 3.5px;
    font-size: 2rem;
    padding: 0 0 0 0.5rem;
    margin-bottom: 1rem;
}
}


.input{
    &__username{
        border-radius: 0.25rem;
        padding: 0.5rem;
        border: none;
        display: flex;
        width: 100%;
        &:focus{
            border-radius: 0.25rem;
            outline: none;
            border: solid cyan 1px;
        }
    }
    &__password{
        display: flex;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;

    &:focus{
        outline: none;
        border-radius: 0.25rem;
        border: solid cyan 0.5px;
    }}
}