.logout{
    background-color: #00aeff;
    padding: 0px;
    border: none;  
    color: white;
    margin-left: 5rem;
}


.submenu{
    margin-left: 2rem;
}

.container{
    &__options{
        display: flex;
        justify-content: space-between;
    }
    &__username{
        font-size: 1rem;
        color:#0b0d1b;
    }
    &__icon{
        width: 20%;
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
    &:hover{
        transition: all ease-in 0.05s;
        font-size: 2rem;
        color: red;
    }}
    &__header{
        min-height: 10vh;
    }
    &__select{
        width: 20%;
    }
    &__users{
        font-size: 2rem;
        background-color: rgb(216, 216, 216);
        color: #0b0d1b;
    & > h1 {
        border: solid red;
    }
    &:hover{
    }
}

}

.divaz{
    border: solid red;
}