.container{
    &__dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 75%;
    }
    &__menu{
        display: flex;
        justify-content: center;
        width: 100%;
    &:hover{
        background-color: #1890ff;
    }
&__item{
&:hover, & > a:hover{
    background-color: #1890ff;
}}
}
}


.dropdown{
    &__item{
        font-family: 'montserrat', sans-serif;
        color: white;
        font-size: 0.75rem;
    }
}