.spinner{
    color: red;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.navbar__wrapper{
    border: solid white 0.5px;
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 100vh;
    background-color: #001529;
}
.popover{
    margin: -1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    &__container{
        width: 100%;
        flex-direction: column;
        display: flex;
    }
}
.profilepicture{
    &__container{
        border: solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__popover{
        display: flex;
        justify-content: center;
    }
}

.sidebar{
    width: 50rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
&__profilepicture__container{

    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 35%;
}
&__description{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: -2rem;
}
}
.avatar{
}

.container{

&__layout{
    box-shadow: 0 0 2px 0 black;
    min-height: 100vh;
}
&__content{
    display: flex;
}

}
.tabicon{
    height: 100%;
    font-size: 2rem;
    transition: all ease-in 0.05s;
    color: #011629;
&:hover, :active{
    font-size: 1.5rem;
    transition: all ease-in 0.05s;
    color: red;
}}
.tab{
    &__card{
        width: 80%;
        border: solid white;
        box-shadow: 0 0 3px 0 black;
        background-color:rgb(221, 221, 221);
        height: 100%;
    }
    &__pane{
        border: solid orange;
    
    }
    &__container{
        margin-left: -1rem;
        padding: 0px;
        height: 100%;
        width: 100%;
        align-items: center;
        display: flex;
}
    &__name{
        color:#0b0d1b;

        margin-left: 1rem;

    &:target{
        color: blue;
    }}
    &__icon{
        height: 100%;
    }
}
.container{
    &__avatar{
        display: flex;
    }
    &__username{
        color: white;
        font-size: 2rem;
    }
    &__instructions{
        padding: 1rem;
    
    & > p {
        font-size: 0.85rem;
        color: white;
    }}
}
.instructions{
    &__header{
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-style: montserrat, sans-serif;
    &__item{
        color: red;
        margin-right: 0.5rem;
    }}
}