
.container{
    &__allgroups{
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        height: 47vh;

    }
    &__myfriends{
        height: 49vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
    &__requests{
        overflow-y: scroll;
        display: flex;
        height: 55vh;
        flex-direction: column;
    &__creategroup{
        height: 41vh;
        overflow-y: scroll;
    &.toggled{
        display: none;
    }}}
}
.tab{
color: white;
font-size: 0.65rem;
&__title{
    color: white;
    font-size: 0.75rem;
}
&:hover{
    color: #1890ff;
}
}

.icon{
    &__container{
        display: flex;
        height: 100%;
        justify-content: space-between;
    &__star{
        flex-grow: 1;
        justify-content: center;
        display: flex;
        align-items: center;
        border: solid orange;
    }
}
&__button{
    &__container{
        display: none;
    &.toggled{
        display: flex;
    }}

}
}

.myicon{
    color: #052d52;
    font-size: 1.75rem;
    &.toggled{
        display: none;
        color: orange;
    }
    &:hover{
        color: red;
    }
}
.group{
    &__container{
    &__form{
        width: 0;
        opacity: 0;
        height: 0rem;
        display: flex;
        justify-content: center;
        align-content: space-around;
     & > form{
         display: flex;
        height: auto;
        flex-direction: column;
        }
    &.toggled{
        width: 100%;
        transition: all ease-in-out 0.5s;
        height: auto;
        opacity: 1;
    }}
&__create{
    height: 100%;
    width: 50%;
}
}
&__button{
    margin: 1rem 0 0.25rem 0;
    border-radius: 0.25rem;
    width: 100%;
}
    &__icon{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2.5rem;
    &:hover{
        cursor: pointer;
        color: #1890ff;
    }}
}
.form{
    &__input{
        width: 100%;    
        padding: 0.25rem;
        margin: 0.75rem 1rem 0 0;
        border: none;
        outline: none;
    &.textarea{
        width: 100%;
        min-height: 5rem;
    }}
}

.container{
    &__dropdown{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
    &__button{
        width: 25%;
    }
&__error{
    color: white;
    font-size: 0.75rem;
    margin: 0.5rem;
}}
    &__autocomplete{
        width: 70%;
    }
    &__options{
        width: 100%;
        padding: 0.5rem;
        &:hover{
            background-color: #c7c7c7;
            width: 100%;    
        }}
    &__groupinfo{
        display: flex;
        justify-content: space-between;
}
    &__header__name{
        display: flex;
    & > p{
        font-weight: 500;
        color: #1890ff;
    }  
    }
    &__header__id{
        display: flex;
        margin-left: 1rem;
        & > p {
            font-weight: 500;
            color: #1890ff;
    }
    }
}
.tab{
    
}
.adderror{
    color: white;
    font-size: 0.85rem;
}
.container{
    &__autocomplete{
        width: 100%;
        display: flex;
    &__button{
        font-size: 0.75rem;
        width: 20%;
    }}
    &__options{
        display: flex;
        justify-content: space-between;
    }
    &__username{
        font-size: 1rem;
        color:#0b0d1b;
    }
    &__icon{
        width: 20%;
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
    &:hover{
        transition: all ease-in 0.05s;
        font-size: 1rem;
        color: red;
    }}
    &__header{
        min-height: 10vh;
    }
    &__select{
        width: 20%;
    }
    &__users{
        margin: 0 0 0 0.5rem;
        font-size: 1rem;
        width: 70%;
        background-color: orchid;
        color: #0b0d1b;
}

}
.create__error{
    font-style: italic;
    font-size: 0.75rem;
    color: white;
}