.tab{


&:focus{
    background-color: orange;
    color: red;
}
}
.container__avatar{
    width: 6rem;
    height: 6rem;
}
.container__addfriend{
display: flex;
flex-direction: column;
}

.input{
    height: 2rem;
    width: 80%;
    margin: 0 1rem 0 1rem;
    border-top: none;
    border-right: none;
    border-left: none;

    border-bottom: solid rgb(0, 183, 255);
    outline: none;
}
.button{
    margin: 1rem 0 0 1rem;
    width: 50%;
}

.iconaz{
&:hover{
        color: red;
        background-color: red;
    }
}