.container__profile{
    flex-direction: column;
    display: flex;
    align-items: center;
padding: 2rem 0 0 0rem;
margin: 3rem 0 3rem 0;
& > button{
    border: solid orange;
}}


.upload__button{
    margin: 2rem 0 2rem 0;
}