.container__profile{
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;
    box-shadow: 0 0 3px 0px#1890ff;
    border-radius: 0.5rem; 
    padding: 2rem;
    width: 50%;
flex-direction: column;
&.toggled{
    margin: 0 0 0 0;
& > p {
    font-size: 0.55rem;
}}
& > button{

}}


.upload__button{
    margin: 2rem 0 2rem 0;
}

.image{
    display: flex;
    align-self: center;
&__text{
    color: white;
    font-size: 0.75rem;
    &.toggled{
        display: none;
    }
}}
.avatar__uploader{
    display: flex;
    width: auto;
&:hover{

    cursor: pointer;
}}