.container{
    &__groupchatbox{
        background-color: whitesmoke;
        box-shadow: 0 0 3px 0 #5c5c5c;
        display: flex;
        height: 75vh;
        width: 90%;
    }
    &__sent__socket{
        width: 100%;
    }
    &__messagebox{
        position: relative;
        height: 15%;
        display: flex;
        width: 100%;
    }
    &__dialogue{
        box-shadow: 0 0 3px 0 white;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        background-color: whitesmoke;
        &__wrapper__container{
            /*
            position: relative;
            height: 100%;
            border: solid orange;
            display: flex;
            flex-direction: column;
            align-items: flex-end;*/
            flex-grow: 1;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            height: 100%;
            overflow-y: scroll;

        }
        &__messages{
            flex-direction: column;
            display: flex;
            position: absolute;
            bottom:0;
            width: 100%;
                }
    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        }
}
    &__groupinformation{
        border-radius: 0.25rem;
        border: solid #1890ff 2px;
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        background-color:#1890ff;
        margin-left: 2rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    &__wrapper{
        width: 100%;
    }}
}

.button{
    display: flex;
    width: 6rem;
    align-items: center;
    flex-grow: 1;
    height: 5rem;
    justify-content: center;
    background-color: rgb(0, 21, 48);
    color: white;
&:hover{
    background-color:#1890ff;
    color: white;

}}

.message{
    &__time{
margin-left: 0.5rem;
color: white;
font-style: italic;
        font-family: 'montserrat', serif;
    }
    &__username{
        font-family: 'montserrat', serif;
        font-style: italic;
        color: #ff3d3d;
        font-weight: 600;
    &.toggled{
    
    }}
    &__format{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__container{
        margin: 1.5rem 0 1.5rem 0;
        width: 100%;
        height: auto;
        display: flex;
        &.toggled{

            justify-content: flex-end;
        }

    &__sent{
        box-shadow: 0 0 3px 0 rgb(163, 163, 163);
        background-color: #55adff;
        display: flex;
        border-radius: 5px;
        width: 90%;
        height: auto;
        margin: 0 1rem 0 1rem;
    }}
    &__timestamp{
        padding-top: 0.5rem;
        display: flex;
    }
    &__actualmessage{
        font-weight: 500;
        padding: 0 0.75rem 0.75rem 0;
        word-break:break-word;
        display: flex;
    }
    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}
.form{
    width: 100%;
    display: flex;
}


.group{
    &__name{
        align-items: center;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    &__members__container{
        overflow-y: scroll;
        border-radius: 0.5rem;
        background-color: whitesmoke;
        box-shadow: 0 0 4px 0 white;
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__members{

        &__username__container{
            display: flex;
            flex-direction: column;
        }

        &__icon{
            color: #55adff;
            font-size: 2.5rem;
        }

    &__heading{
        width: 100%;
        background-color: whitesmoke;
        justify-content: center;
        padding: 0.5rem;
        align-items: center;
        display: flex;
        align-content: center;
        border-bottom: solid white 2px;
        & > p {
            display: flex;
            align-items: center;
            align-content: center;
            font-size: 1rem;
            font-weight: 600;
        }
    }
    }
}
.title{
    font-size: 1rem;
    color: #001529;
    font-weight: 600;
    font-family: montserrat, sans-serif;
    &__description{

    }
}

.username{
    margin-left: 1rem;
    &__container {
display: flex;
    padding: 0.5rem;
    justify-content: flex-start;
    color: #001529;
    font-weight: 600;
    width: 100%;
    white-space:nowrap;
    box-shadow: 0 0 3px 0 whitesmoke;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

&:hover{
    background-color: white;
}}
.group{
    &__image__container{
        align-items: center;
        flex-direction: column;
        background-color: whitesmoke;
        display: flex;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    &__image{
    }
}   